<%- include("header"); -%>

<br><br>
<h2 style="text-align:center"> <%= message %></h2>
<br><br>


<table class="userTable">
    <ul>
      <% newChatElements.forEach(function(item){ %>
        <tr>
            <td> <b> <li class="username"><%=item.person%></li> </b> </td>
            <td><a href="/chat/<%= item.person %>"> <button type="button" class="btn btn-outline-warning">Open Chat</button></a></td>
        </tr>
      <% }); %>
    </ul>
</table>


<%- include("footer"); -%>
